<div class="searchbar">
    <input type="text" placeholder="Search by phonenumber" [(ngModel)]="phonenumber"/>
    <button type="button" (click)="searchOrders()">Search</button>
</div>
<div>
    <br>
    <table class="table table-striped">
    <tr>
        <th>Order ID</th>
        <th>Phone Number</th>
        <th>Price Charged</th>
        <th>Order Date</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.phonenumber}}</td>
        <td>{{order.priceCharged | currency}}</td>
        <td>{{order.dateTime | date}}</td>
        <td>
            <button type="button" class="btn btn-warning" routerLink="/order-details/{{order.orderId}}">Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(order.orderId)">Delete</button> 
        </td>
    </tr>

</table>
</div>