<p>order-list works!</p>

<table>
    <tr>
        <th>Order ID</th>
        <th>Phone Number</th>
        <th>Price Charged</th>
        <th>Order Date</th>
        <th></th>
    </tr>
    <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.phonenumber}}</td>
        <td>{{order.priceCharged | currency}}</td>
        <!-- TODO: Format dateTime with pipe (custom?)-->
        <td>{{order.dateTime}}</td>
        <td>
            <button type="button"><a routerLink="/order-details/{{order.orderId}}">Edit</a></button>
        </td>
    </tr>

</table>
