
<!-- TODO: CSS instead of inline styling -->
<div class="itemized-order" style="float:right;width:33%;">
    <table class="table table-striped"  style="text-align:left;border:1px solid black;border-collapse:collapse;float:right;">
        <tr *ngFor="let id of order.productIds; let i = index;" style="border:1px solid black;">
            <td class="delete_col" style="width:46px;text-align:center;">
                <button type="button" class="badge badge-danger" (click)="removeItem(i)">
                    X
                </button>
            </td>
            <td class="number_col" style="width:20px;">{{i+1}}.</td>
            <td class="description_col" style="width:100px;">{{products[id-1].description}}</td>
            <td class="price_col" style="width:60px;text-align:right;">{{products[id-1].price | currency}}</td>
        </tr>
                        
    </table>  
</div>
<div class="input-group mb-3" style="float:left;width:32%;">

    <div *ngIf="!submitted && !updated">

        <br><label for="phonenumber">Phonenumber</label><br>
        <input type="text" class = "form-control" id="phonenumber" required [(ngModel)]="order.phonenumber"/><br>    
        <label for="discount">Discount</label><br>    
        <input type="text" class = "form-control" id="discount" [(ngModel)]="order.discount" (change)="subtractDiscount()"/><br>    
        <label for="employeeId">Employee ID</label><br>    
        <input type="text" class = "form-control" id="employeeId" [(ngModel)]="order.employeeId"/><br>    
        <label for="priceCharged">Total</label><br>
        <!-- No banana in a box -- needed to get pipe to work -->    
        <input type="text" class = "form-control" id="priceCharged" [ngModel]="order.priceCharged | currency" (ngModelChange)="order.priceCharged=$event" readonly/><br>    
        <label>Zipcode</label><br>

        <input type="text" id="zipcode" class="form-control" [(ngModel)]="order.zipcode"/><br>

        <!--TODO: make this a select drop down box--> 
        <!-- <select name="zipcode" class="browser-default custom-select" id="zipcode" [(ngModel)]="order.zipcode">
            <option value="55501">55501</option>
            <option value="55502">55502</option>
            <option value="55503">55503</option>
            <option value="55504">55504</option>
        </select>    -->
        
        <input type="hidden" [(ngModel)]="order.productIds">
        <input type="hidden" [(ngModel)]="order.quantity">
    
        <button type="button" class="btn btn-danger" routerLink="">Cancel</button>
        
    </div>
    <!-- Which buttons display depending on routing -->
    <div *ngIf="submitted">
        <h3>Order submitted!</h3>
        <button type="button" (click) = "newOrder()">New Order</button>
        <button type="button"><a routerLink="">Home</a></button>
    </div>
    <div *ngIf="updated">
        <h3>Order Updated!</h3>
        <button type="button"><a routerLink="../../order-list">Return to Orders</a></button>
        <button type="button"><a routerLink="">Home</a></button>
    </div>
</div>



<!--Procedurally Generate Buttons from Products Table-->
<div class="product_buttons">
    <div *ngFor="let product of products">
        <button type="submit" class="btn btn-secondary" (click)="addToOrder(product)">{{product.description}}</button>
    </div>
    <!-- Which button depends on routing -->
    <div *ngIf="!details" >
        <br><button type="button" class="btn btn-success" (click)="sendOrder()">Submit Order</button>
    </div>
    <!-- If you are coming from order-details, these buttons-->
    <div *ngIf="details">
        <button type="button" class="btn btn-success" (click)="update()">Update Order</button>
    </div>
</div> 