
<h1 style = "text-align: center;color: tomato"> Welcome To Premo Pizza Phone Orders</h1>
<div class="list row" style=  "margin-top:200px; margin-bottom:300px; margin-right: 250px;
 margin-left: 350px;">
    <div class="col-md-8">
      <h5> Place Order</h5>
       <div class="input-group mb-3">
        
        <input
          type="text"
          class="form-control"
          style = "border: 1px solid black;color: black"
          placeholder="Enter Phonenumber"
          [(ngModel)]="phonenumber"  
        />
        <div class="input-group-append">
          
          <button
            class="btn btn-outline-secondary" style = "border: 1px solid tomato;background-color: tomato;color: black"
            type="button"
            (click)="searchPhonenumber()"
          >
            Search Customer 
          </button>
        </div>
      </div>
    </div>
   
    
  <div class="col-md-6">
      <div *ngIf="currentCustomer"> 
        <h5 style="color:tomato">Existing Customer </h5>
        <div>
          <label><strong>Customer ID:</strong></label> 
          {{ currentCustomer.id}}
          
        </div>
        <div>
          <label><strong>phonenumber:</strong></label> 
          {{ currentCustomer.phonenumber}}
          
        </div>
          
        <div>
          <label><strong>name:</strong></label>
          {{ currentCustomer.name }}
        </div>

        <div>
            <label><strong>address:</strong></label>
            {{ currentCustomer.address }}
        </div>

        <div>
            <label><strong>zipcode:</strong></label>
            {{ currentCustomer.zipcode }}
        </div>
       
        <a class="badge badge-success" routerLink="/customers/{{currentCustomer.phonenumber}}">
          Edit Customer
        </a>
        <a class="badge badge-info" routerLink="/order/{{currentCustomer.phonenumber}}">Add Order</a>
      </div>
  
      <!-- <ng-container *ngIf="!data">
        <div class="column col-12 text-center pt-10 pb-10">
              <div class="">Error nothing loaded</div>
            </div>
          </ng-container>
          <ng-container *ngIf="errorApi>
           <p>API error happened.</p>
          </ng-container> -->
     <!-- <div *ngIf="!currentCustomer">
        <br >
        <p>Customer does not exist with this phone number, go to Add Customer!</p>
      </div> -->
      </div>
     </div> 
    
    