<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Phonenumber"
          [(ngModel)]="phonenumber"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchPhonenumber()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    
    
  <div class="col-md-6">
      <div *ngIf="currentCustomer"> 
        <h5 style="color:blueviolet">Existing Customer </h5>
        <div>
          <label><strong>Customer ID:</strong></label> 
          {{ currentCustomer.id}}
          
        </div>
        <div>
          <label><strong>phonenumber:</strong></label> 
          {{ currentCustomer.phonenumber}}
          
        </div>
        
        
                
        <div>
          <label><strong>name:</strong></label>
          {{ currentCustomer.name }}
        </div>

        <div>
            <label><strong>address:</strong></label>
            {{ currentCustomer.address }}
        </div>

        <div>
            <label><strong>zipcode:</strong></label>
            {{ currentCustomer.zipcode }}
        </div>
       
        <a class="badge badge-success" routerLink="/customers/{{currentCustomer.phonenumber}}">
          Edit Customer
        </a>
        <a class="badge badge-info" routerLink="/order/{{currentCustomer.phonenumber}}">Add Order</a>
      </div>
  
     <div *ngIf="!currentCustomer">
        <br />
        <p></p>
      </div>
      </div>
     </div> 
    
    