  <div style="width: 400px; margin: auto;">
    <div  *ngIf="currentCustomer" class="edit-form">
      <h4>Customer</h4>
      <form>
        <div>
            <label>Phone Number</label>
            <input type ="text" class = "form-control" id="phonenumber" 
            [(ngModel)] = "currentCustomer.phonenumber" name = "phonenumber">
        </div>
        <div>
            <label>Name</label>
            <input type ="text" class = "form-control" id="name" 
            [(ngModel)] = "currentCustomer.name" name = "name">
        </div>
       
        <div>
            <label>Address</label>
            <input type ="text" class = "form-control" id="address" 
            [(ngModel)] = "currentCustomer.address" name = "address">
        </div>
        <div>
            <label>ZipCode</label>
            <input type ="text" class = "form-control" id="zipcode" 
            [(ngModel)] = "currentCustomer.zipcode" name = "zipcode">
        </div>
        
      </form>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updatecustomer()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <button type="button"><a routerLink="">Home</a></button>
  
    <div *ngIf="!currentCustomer">
      <br />
      <p>Cannot access this Customer...</p>
    </div>
  </div>
  