<div class ="col-md-6 offset-md-3">
    <h3> Update Employee</h3>
    <form (ngSubmit) = "onSubmit()">
        <div>
            <label>ID</label>
            <input type ="text" class = "form-control" id="employeeid" 
            [(ngModel)] = "employee.employeeid" name = "employeeid">
        </div>
        <div>
            <label>Name</label>
            <input type ="text" class = "form-control" id="employee_name" 
            [(ngModel)] = "employee.employee_name" name = "employee_name">
        </div>
        <div>
            <label>Address</label>
            <input type ="text" class = "form-control" id="address" 
            [(ngModel)] = "employee.address" name = "address">
        </div>
        <div>
            <label>Rate</label>
            <input type ="text" class = "form-control" id="hourly_rate" 
            [(ngModel)] = "employee.hourly_rate" name = "hourly_rate">
        </div>
        <div>
            <label>Hours Worked</label>
            <input type ="text" class = "form-control" id="hours_worked" 
            [(ngModel)] = "employee.hours_worked" name = "hours_worked">
        </div>
        <div>
            <label>Status</label>
            <input type ="text" class = "form-control" id="status" 
            [(ngModel)] = "employee.status" name = "status">
        </div>
        <br>
        
        <button class = "btn btn-success" type = "submit"> Submit</button>
        <div *ngIf="submitted" >
            <h4>Employee Updated!</h4>
        </div>
    </form>
    </div>