<div class="panel panel-primary">
    <div calss="panel-heading">
        <h2>Employees</h2>
    </div>


<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>
        <th>Rate</th>
        <th>Hours</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    
    <tr *ngFor="let employee  of employees">
        <td>{{employee.employeeid}}</td>
        <td>{{employee.employee_name}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.hourly_rate | currency}}</td>
        <td>{{employee.hours_worked}}</td>
        <td>{{employee.status}}</td>
        <td>
            <button (click) = "updateEmployee(employee.employeeid)" class = "btn btn-info">Update</button>
        </td>
    </tr>
</table>

</div>