<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">PremoPizza</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="Order" class="nav-link">Orders</a>
      </li>
      <li class="nav-item">
        <a routerLink="product" class="nav-link">Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="employee-list" class="nav-link">Employee</a>
      </li>
      <li class="nav-item">
        <a routerLink="customer-add" class="nav-link">Add Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="customer-search" class="nav-link">Search Customer</a>
      </li>
      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>


