<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">PremoPizza</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="customers" class="nav-link">Search Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Customer</a>
      </li>
      <li class="nav-item">
        <a routerLink="order-list" class="nav-link">Order List</a>
      </li>
      <li class="nav-item">
        <a routerLink="order" class="nav-link">New Order</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="showDropdown()">Employees</a>
        <ul class="dropdown-menu" [ngClass]="{'show':toggleFlag}" style="background-color: #363636">
          <li class="nav-item">
            <a class="nav-link" routerLink="employee-add"[ngClass]="{'show':toggleFlag}" (click)="showDropdown()">Add Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="employee-list" [ngClass]="{'show':toggleFlag}" (click)="showDropdown()">Employee List</a>
          </li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <a routerLink="product" class="nav-link">Menu</a>
      </li>
      <li>
        <a routerLink="employee-sales" class="nav-link">Sales Report</a>
      </li>
      <li>
        <a routerLink="charts" class="nav-link">Charts</a>
      </li>
      <li class="nav-item">
        <a routerLink="zip-report" class="nav-link">Sales by Zip</a>
        
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  <img src ="assets\PNGIX.com_guy-png_357743.png" class="img-fluid" style = "width:500px; height: 600px; float: left"alt="pizza guy">
  <img src ="assets\PNGIX.com_guy-png_357743.png" class="img-fluid" style = "width:500px; height: 600px; float: right; transform: scaleX(-1)"alt="pizza guy">
</div>


